<html>
    <head>
      <title>BitCoin</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Crypto Monitor Login</h1>
        <h5>Get updated prices of BitCoin</h5>
        
         
            <div class="inner-screen">
              <form action="/login" method = "POST">
              <div class="form">
                <input type="text" name="email"  placeholder="Enter Email" />
                <input type="password" name ="password"  placeholder="Password" />
                 <input type="submit" value="Login" />
                <a href="/signup">Signup</a>
                </form>
                
              </div> 
            </div>         
  </html>
  