<html>
    <head>
      <title>BitCoin</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Crypto Monitor Signup</h1>
        <h5>Get updated prices of BitCoin</h5>
        
         
            <div class="inner-screen">
                        <form action="/signup" method = "POST">
                            <div class="form">
                                <input type="text" name="name" placeholder="Enter your name" />
                                <input type="text" name="email"  placeholder="Enter Email" />
                                <input type="password" name="password"  placeholder="Password" />
                                <input type="submit" value="Signup" />
                                <a href="/login">Login</a>
                        </form>
              </div> 
            </div>         
  </html>
  