* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance:none;
	-webkit-text-size-adjust: none; 	
}

body {
  font-family: arial
}

.wrapper {
    margin: 50px auto;
    max-width: 800px;
    width: 100%;
}

.col {
  display:inline-block;
  width: 22%;
  margin: 1%;
  text-align:center;
  border: 1px solid #eee;
  padding: 20px;
}

h1 {
  font-size: 40px;
  color:#fff;
  display:block;
  border-radius: 50%;
  width: 90px;
  height:90px;
  padding: 20px;
  margin:0 auto;
}

h4 {
  margin:10px 0;
}

.bitcoin h1 {
  background: #f7931a;
}

.litecoin h1 {
  background: #bebebe;
}

.ethereum h1 {
  background: #454a75;
}

.ripple h1 {
  background: #102b3e;
  font-size:26px;
  text-align:center;
  line-height: 50px;
}

#price, #bprice, #eprice, #rprice{
  font-size: 20px;
}

.chan {
  margin: 20px 0 0 0;
  padding: 10px;
  background: #eee;
  font-size: 12px;
}

#chan {
  display: inline-block;
}